@import url(../global.css);

.footer {
  background: #000;
  color: #fff;
  padding: 5% 4%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-col {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  line-height: 1.875rem;
  margin-block: 1rem;
}

.footer-logo {
  height: 1.875rem;
}

.brand-info {
  font-size: 0.75rem;
  font-weight: 400;
}

.copy-right-mobile {
  color: var(--light-gray);
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.copy-right-desktop {
  display: none;
}

.footer-col {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.footer-col h6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-col .link {
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #fff;
  transition: 0.3 ease-in-out;
}

.footer-col .link:hover {
  color: var(--orange);
}

.social-container h3 {
  display: none;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  gap: 0.9rem;
  transition: 0.3s ease;
}

.social-links img:hover {
  filter: brightness(0) saturate(100%) invert(47%) sepia(89%) saturate(2521%) hue-rotate(344deg) brightness(101%) contrast(101%);
}

@media (min-width:48em) {
  .footer {
    padding: 5% 10%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .brand-col {
    margin-block: 0;
    width: 15%;
  }
  .copy-right-desktop {
    display: inline-block;
    color: var(--light-gray);
    font-size: 0.875rem;
  }

  .copy-right-mobile {
    display: none;
  }

  .footer-col {
    margin-right: 3.125rem;
    margin-block: 0;
  }

  .social-container {
    display: flex;
    flex-direction: column;
  }

  .social-container h3 {
    display: inline-block;
  }

  .social-links {
    justify-content: flex-start;
  }
}
