@import url(../global.css);

.navbar {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 3.75rem;
  position: fixed;
  z-index: 1200;
  padding: 0 10%;
  width: 100%;
}

.navbar-logo {
  margin-top: 0.5rem;
}

svg:hover .logo-icon {
  fill: #000;
  transition: fill 0.1s ease;
}

svg:hover .logo-text {
  fill: var(--orange);
  transition: fill 0.1s ease;
}

.nav-links {
  display: none;
}

#btnOpen,
#btnClose {
  cursor: pointer;
  margin-top: 0.5rem;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 3.75rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 10px 27px rgba(0, 0, 0, .05);
}

.nav-links li {
  margin-bottom: 1.1rem;
}

li:has(a.app-link) {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.nav-link {
  color: var(--dark-gray);
  font-size: 0.9375rem;
  line-height: 1.875;
  transition: color 0.15s ease;
}

.nav-link:hover {
  color: var(--orange);
}

.app-link {
  background: linear-gradient(91deg, #f73, #ff5722 , #e54917);
  color: #fff;
  font-size: 0.9375rem;
  border-radius: var(--border-radius);
  padding: 0.5rem 1.875rem;
  transition: filter 0.15s ease;
}

.app-link:hover {
  filter: brightness(87%);
}

@media (min-width:64em) {
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    white-space: nowrap;
  }

  #btnOpen,
  #btnClose {
    display: none;
  }

  .nav-links li {
    margin: 0;
  }

  li:has(a.app-link) {
    margin-top: 0;
    margin-right: 1.1rem;
  }
}
