@import url(../global.css);

.tapsi-services {
  margin: 0 4%;
  padding: 2.5rem 1.25rem;
}

.tapsi-services h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.service-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
  gap: 2rem;
}

.service-btn  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 6rem;
}

.service-btn p {
  color: #000;
  font-weight: 500;
  margin-top: 0.8rem;
  text-align: center;
  opacity: 0.35;
}

.service-btn-img {
  opacity: 0.35;
  width: 80px;
  height: 80px;
  transition: opacity 0.15s ease;
}

.service-btn-img:hover  {
  opacity: 1;
}

.service-btn-img.active,
.service-btn-info.active {
  opacity: 1;
}


.service-container {
  display: none;
}

.service-container.active {
 display: flex;
 flex-direction: column-reverse;
 align-items: center;
}

.service-info {
  display: flex;
  flex-direction: column;
}

.service-img {
  max-width: 486px;
}

.service-img img {
  width: 100%;
  height: 100%;
}

.service-container .title {
  font-size: 1rem;
  font-weight: 700;
  margin-block:0.625rem;
}

.service-container .description {
  font-size: 0.875rem;
  color: #333;
  line-height: 2rem;
  margin-bottom: 1.875rem;
}

.service-container img {
  margin-top: 1.5rem;
}

@media (min-width:48em) and (max-width: 64em) {
  .service-btns {
    gap: 1rem;
  }

  .service-container.active {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .service-container .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom:1.25rem;
  }

  .service-container .description {
    font-size: 1rem;
    width: 140%;
  }

  .service-container img {
    margin-right: 10%;
    margin-top: 2.5rem;
  }
}

@media (min-width:64em) {
  .tapsi-services {
    margin: 0 10%;
    padding-bottom: 6.25rem;
    padding-top: 1.875rem;
  }

  .tapsi-services h2 {
    font-size: 2.25rem;
  }

  .service-btns {
    gap: 1rem;
    margin-right: 1.5rem;
  }

  .service-btn  {
    margin: 3.125rem 0;
  }

  .service-btn-img {
    width: 100%;
    height: 100%;
  }

  .service-container.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .service-info {
    align-self: flex-start;
    width: 45%;
  }

  .service-container .title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom:1.25rem;
  }

  .service-container .description {
    font-size: 1.125rem;
  }

  .service-container img {
    margin-right: 10%;
    margin-top: 0;
  }
}
