@import url(./global.css);
@import url(components/header.css);
@import url(components/herosection.css);
@import url(components/services.css);
@import url(components/register&corporate.css);
@import url(components/appsinstallation.css);
@import url(components/blogs.css);
@import url(components/footer.css);
